{% extends "layout.twig" %}
{% block content %}
    <h1>Ανοικτά δεδομένα</h1>
    <p>Στα παρακάτω αρχεία ανοικτών δεδομένων παρουσιάζονται τα δεδομένα που 
        έχουν καταχωρηθεί στο σύστημα EduLabs 
        <strong>έως και αυτή τη στιγμή</strong>.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Δεδομένα</th>
                <th>Μεταφόρτωση αρχείου</th>
            <tr>
        </thead>
        <tbody>
            <tr>
                <td>Μονάδες που συμμετέχουν στη δράση</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'schools'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Χώροι μονάδων που καταγράφηκαν από τη δράση</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'labs'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Εξοπλισμός μονάδων που καταγράφηκε από τη δράση</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'assets'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Λογισμικό που χρησιμοποιείται από τις μονάδες και καταγράφηκε από τη δράση</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'software'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Αιτήσεις που συγκεντρώθηκαν από τις μονάδες</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'appforms'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>

            </tr>
            <tr>
                <td>Εξοπλισμός που αιτήθηκαν οι μονάδες</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'appforms_items'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Νέες αιτήσεις που συγκεντρώθηκαν από τις μονάδες</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'appnewforms'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
            <tr>
                <td>Εξοπλισμός που αιτήθηκαν οι μονάδες με τις νέες αιτήσεις</td>
                <td>
                    <a href="{{ path_for('export.csv', {type: 'newapplication'}) }}">
                        <i class="fa fa-download"></i>
                        Αρχείο .csv
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr><th colspan="2"></th><tr>
        </tfoot>
    </table>
    <h1>API</h1>
    <p>Παρέχεται η δυνατότητα άντλησης δεδομένων μέσω προγραμματιστική διεπαφής
        (API) σε μορφή JSON. Η αναλυτική τεκμηρίωση των παρεχόμενων λειτουργιών 
        καθώς και δοκιμαστικό περιβάλλον είναι διαθέσιμα στη 
        <a href="/_doc/swagger/index.html" target="edulabsdoc">σελίδα τεκμηρίωσης <span class="glyphicon glyphicon-link"></span></a>
        καθώς και στο
        <a href="https://github.com/itminedu/gredu_labs/wiki/API-%CE%B3%CE%B9%CE%B1-%CF%84%CE%B1-%CE%B1%CE%BD%CE%BF%CE%B9%CF%87%CF%84%CE%AC-%CE%B4%CE%B5%CE%B4%CE%BF%CE%BC%CE%AD%CE%BD%CE%B1"" target="edulabswiki">wiki 
            του έργου <span class="glyphicon glyphicon-link"></span></a>.
    </p>

{% endblock %}
